body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 60px;
  height: 100%;
  background-color: #202020;
}

body * {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
